.card-bg-category{
  background-color: #9dffad;
}
.color-Stil-De-Grain-Yellow{
    color:aquamarine;
}
 .btn-bg:hover{
    background-color:#7dec90;
    color:navy;
    border: 0;
    font-weight: bold;
}
